# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db

# Virtual environment (Linux/macOS)
venv/
env/
sl/  # your virtualenv folder

# VSCode or other IDE settings
.vscode/

# Streamlit logs/cache
.streamlit/config.toml
.streamlit/secrets.toml
